<div id="app" data-width="100">
    <ul>
      <!--   1   -->
      <li class="actslide">
        <div class="slide">
          <div class="container">
            <!--  ///////////////  -->
          </div>
        </div>
      </li>
      <!--   2   -->
      <li>
        <div class="slide">
          <div class="container">
            <!--  ///////////////  -->
          </div>
        </div>
      </li>
      <!--   3   -->
      <li>
        <div class="slide">
          <div class="container">
            <!--  ///////////////  -->
          </div>
        </div>
      </li>
      <!--   4   -->
      <li>
        <div class="slide">
          <div class="container">
            <!--  ///////////////  -->
          </div>
        </div>
      </li>
      <!--   5   -->
      <li>
        <div class="slide">
          <div class="container">
                <!--  ///////////////  -->
          </div>
        </div>
      </li>
    </ul>
    <div class="progress">
      <div class="bar"></div>
    </div>
    <footer>
      <p>&copy; 2020 - Deskeo
        <small>a Knotel company, coded by <span>Ka</span>ffein Agency</small>
      </p>
    </footer>
  </div>