@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap");


.modalTitle{
text-align: center;
}   
.textList{
    margin: 20px;
text-align: center;
width: 500px;
}
.modalContent{
    text-align: center;
}   
.MuiList-root {
    width: 75% !important;
}
.MuiListItem-root{
    justify-content: space-around !important;
}
.makeStyles-root-15 {

    width: 75% !important;
}
.makeStyles-root-25 {

    width: 75% !important;
}
.makeStyles-root-47{

    width: 75% !important;
}
.makeStyles-root-13{
    width: 75% !important;
}
.Header{
    background-color: lightgreen;
}
.PrivateTabIndicator-colorSecondary-4{
    background-color:darkgreen !important;
}
.MuiAppBar-colorPrimary{
    background-color: green !important;
    opacity: 0.7;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavTitle{
    padding: 20px;
    margin: 0;
    font-size: 14pt;
}
.link{
    color: white;
    text-align: start;
    padding-left: 10px;
    text-decoration: none;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.buttonSend{
    margin: 10px !important;
    padding: 10px !important;

    color: white !important;
    border: solid 1px white !important;
    background-color: rgb(15, 182, 15) !important;

}
.tabHeader{
    font-size: 8pt !important;
}
.tabList{
    border: solid 1px black;
    flex-direction: column !important;
    flex-wrap: wrap;
}
.contentTable{
    width: 200px;
    text-align: center;
    padding: 20px;
}

th{
    padding: 20px;
}   
table{
    width: 900px;
}
.requestResponse{
    color: rgb(80, 224, 80);
}