@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap");


.modalTitle{
text-align: center;
}   
.textList{
    margin: 20px;
text-align: center;
width: 500px;
}
.modalContent{
    text-align: center;
}   
.MuiListItem-root{
    justify-content: center !important;
}
.makeStyles-root-15 {

    width: 75% !important;
}
.makeStyles-root-47{

    width: 75% !important;
}
.makeStyles-root-13{
    width: 75% !important;
}
.Header{
    background-color: lightgreen;
}
.PrivateTabIndicator-colorSecondary-4{
    background-color:darkgreen !important;
}
.MuiAppBar-colorPrimary{
    background-color: green !important;
    opacity: 0.7;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavTitle{
    padding: 20px;
    margin: 0;
    font-size: 14pt;
}
.link{
    color: white;
    text-align: start;
    padding-left: 10px;
    text-decoration: none;
}
.buttonLink{
    color: white !important;
    border: solid 1px white !important;
    background-color: rgb(15, 182, 15) !important;
}
.tabHeader{
    font-size: 8pt !important;

}
.tabList{
    border: solid 1px black;
    flex-direction: column !important;
    flex-wrap: wrap;
}